h1 {
  font-size: clamp(3rem, 5rem, 7rem);
  font-weight: 700;
  text-align: center;
}

.results-container {
  padding: 2rem;
}
.results-heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
  color: #1B3D2F;

}
.results-wrapper {
  --result-columns: 1; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

@media (min-width: 650px) {
  .results-heading {
    text-align: left;
  }
}

@media (min-width: 900px) {
  h1 {
    text-align: left;
  }
}