.result-link {
  color: #960014;
  background-color: #FFE5DC;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
  max-width: 30rem;
}
.result-link:hover {
  transform: scale(1.25);
}

.recipe-result {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.result-img {
  width: 100%;
  height: auto;
}

.heading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  padding: 40px;
}
.result-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #960014;
}