form, .search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.recipe-search, .search-btn {
  font-size: 3rem;
  padding: 5px 10px;
}

.recipe-search {
  border: none;
  border-radius: 5px 5px 0 0;
  width: clamp(200px, 500px, 100%);
}
.search-btn {
  background-color: #9F8F65;
  color: #FFF9E6;
  border: none;
  border-radius: 0 0 5px 5px;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
}
.search-btn:hover {
  cursor: pointer;
  background-color: #FFD700;
  color: #9F8F65;
}
.search-btn:active {
  background-color: #9F8F65;
  color: #FFF9E6;
}

.search-explanation {
  max-width: 600px;
  text-align: center;
}

@media(min-width: 575px) {
  .search-control {
    display: flex;
    margin-bottom: 20px;
  }
  .recipe-search {
    border-radius: 5px 0 0 5px;
  }
  .search-btn {
    border-radius: 0 5px 5px 0;
    width: fit-content;
    margin-bottom: 0;
  }

}

@media (min-width: 900px) {
  form, .search-area {
    justify-content: flex-start;;
  }
}