form, .search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.recipe-search {
  font-size: clamp(2rem, 3rem, 4rem);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  width: clamp(200px, 500px, 100%);
}

.search-explanation {
  max-width: 600px;
}

@media (min-width: 900px) {
  form, .search-area {
    justify-content: flex-start;;
  }
}